
a {
    text-decoration: none;
}

h4 {
    display: flex;
    justify-content: flex-end;
}

button {
    height: 50px;
    width: 300px;
    background-color: purple;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

button:hover {
    background-color: rgb(202, 72, 197);
    cursor: pointer;

}

#start {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    

}

/* Default display is 'none' so that it does not appear until user presses the start button */

#quiz {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    
   
}

#scoreLink {
    position: absolute;
    top: 20px;
    left: 18px;
    font-size: 18px;
    border: 2px solid black;
    background-color: grey;
    padding: 5px;
}
 

/* Default display is 'none' so that it does not appear until user presses the start button */

#finalScore {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#initBox {
    margin-bottom: 10px;
    display: inline-block;
}

#initScore {
    display: inline-block;
}

/* Indicates correct answer */

#correct {
    border-top: 2px solid grey;
    color: grey
}

/* Indicates incorrect answer */

#incorrect {
    border-top: 2px solid grey;
    color: grey;
}
.answers {
    margin: 2px;

}
/* Score page positioning and spacing */

#hs-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}

#back {
    margin-bottom: 3px;
}